__pycache__
env
secrets.sh
.env
.DS_Store

docker-compose-dev.yml
services/backend/openai_test.py
AuthKey_api.p8

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
staticfiles
services/frontend/src/pages/ArtistSearch.md
