@use 'stylesheets/progress.scss';

.App {
  text-align: center;
}


.app-container {
  text-align: left;
}


.list-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.227);
  margin: 20px auto;
  width: 50%;
  text-align: left;

  > a {
    text-decoration: none;
  }
}

#add_comment_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0px auto;
  border-top: 1px solid black;
  padding: 20px;
}

.login_page {
  margin: 0px auto;
  width: 50%;
}

.error {
  color: red;
}

.artist-search-card {
  width: 18rem;
}

/* Artist Page */
.song-list {
  list-style: none;
  .song-row {
    padding: 0px 20px;
    .album-cover {
      border-radius: 12px;
    }
  }


  li {
    // border: 1px solid pink !important;

    .list-color-\#CCCCCC {
      color: #CCCCCC;
    }
  }
}

/*Back to Top*/


#back_to_top_container {
  // display: none;
  width: 100px;
  height: 100px;
  z-index: 100;
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  #back_to_top {

      z-index: 99; 
      border: none;
      outline: none;
      padding: 15px; 
      font-size: 18px; 
      transition: all 0.3s ease 0s;
      cursor: pointer;
      border-radius: 50px;
      backface-visibility: hidden;
      //background-color: blue;
      // color: var(--bs-light);
      margin: 20px 20px 4px;
      box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
      width: 55px;
  }

  .back_to_top_text {
      // background-color: blue;
      color: var(--bs-light);
      text-align: center;
      cursor: pointer;
      border-radius: 12px;
  }
}

.btn:focus {
  text-decoration: underline;
}