@keyframes pulse-bg {
    0% { background-color: #e0e0e0; }
    80% { background-color: #e0e0e08c; }
    100% { background-color: #e0e0e0; }
}

.skeleton-line {
    animation: pulse-bg 1.5s infinite ease-in-out;
    background-color: #e0e0e0; 
    border-radius: .25rem; 
}

$custom-heights: (
  48: 12rem,
  6: 1.5rem,
  4: 1rem
);

@each $key, $value in $custom-heights {
  .h-custom-#{$key} {
    height: $value;
  }
}
